<!-- <div class="form-inline"> -->
  <!-- <div class="form-group"> -->
    <label for="inputUserName">User name:</label>
    <input type="text" id="inputUserName" class="form-control mx-sm-3" [(ngModel)]="this.user.name">
  <!-- </div> -->
<!-- </div> -->
<!-- <div class="form-inline"> -->
  <!-- <div class="form-group"> -->
    <label for="inputUserPassword">User password:</label>
    <input type="password" id="inputUserPassword" class="form-control mx-sm-3" [(ngModel)]="this.user.password">
  <!-- </div> -->
<!-- </div> -->